<img src ="{{ album.album_logo }}" width="500" height="600">

<h1>{{ album.album_title}}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favourite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song"
               {% if song.is_fav %}
               checked
               {% endif %}
               value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_fav %}
                <img src="https://maxcdn.icons8.com/app/uploads/2016/10/star.png" width="30px" height="30px" />
            {% endif %}
        </label><br>
    {% endfor %}

        <input type="submit" value="Submit">
</form>
